* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url(assets/6616919-ele-ressuscitou-fundo-com-cruz-contra-ceu-sol-gratis-vetor.jpg);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

nav {
    max-width: 1120px;
    margin: auto;
    padding: 24px 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 800px;
    color: black;
}

.logo {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 32px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 30px;
    border-radius: 16px;
}

.menu {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px;
    color: black;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}

.hero {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px;
    max-width: 1120px;
    padding: 24px 150px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 24px 32px;
}

.image-container > figure > img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 16px;
    border: 1px solid black;
}

.destaque {
    font-size: 20px;
}

.tittle{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    }

    .paragrafos {
        font-size: 24px;
        max-width: 500px;
    }